{% extends "base_generic.html" %}

{% block content %}
    <h3>Текущие сведения об авторе:</h3>
    <h6>{{author.first_name}} {{author.last_name}} ({{author.date_of_birth}} - {{author.date_of_death}})</h6>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Измените имя</label>
            <input type="text" name="first_name"
                    value="{{author.first_name}}" />
        </p>
        <p>
            <label>Измените фамилию</label>
            <input type="text" name="last_name"
                    value="{{author.last_name}}" />
        </p>
        <p>
            <label>Измените дату рождения</label>
            <input type="date" name="date_of_birth"
                    value="{{author.date_of_birth}}" />
        </p>
        <p>
            <label>Изменита джату смерти</label>
            <input type="date" name="date_of_death"
                    value="{{author.date_of_death}}" />
        </p>
        <input type="submit" value="Сохранить">
    </form>
{% endblock %}