{% extends "base_generic.html" %}

{% block content %}
<h1>Главная страница</h1>

<p>Добро пожаловать в <em>Мир книг</em>, это очень простой
веб-сайт, написанный на Django. Разработан на Python в
качестве учебного примера с использованием VSC.</p>

<h2>Количество книг постоянно меняется:</h2>
<p>на данный момент в "Мир книг" имеется:</p>
    <ul>
        <li><strong>Количество книг: </strong>{{ num_books }}</li>
        <li><strong>Количество экзепляров книг: </strong>
            {{ num_instance }}</li>
        <li><strong>Количество экзепляров книг в заказе: </strong>
            {{ num_instance_available }}</li>
        <li><strong>Количество авторов книг: </strong>
            {{ num_authors }}</li>
    </ul>
<p>Количество посещений данной страницы: {{ num_visits }}</p>
{% endblock %}